*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: rgb(5, 31, 53);
}
nav{
    display:flex;
    justify-content:right;
    padding: 20px 10px;
    height: 50px;
}
ul{
    display:flex;
    list-style: none;
    align-items: center;
}
li{
    text-align:right;
    padding: 14px 12px;
}
li a:hover{
    text-decoration: none;
}
.small-text{
    font-size: 0.9rem;
    text-decoration: none;
}
.centre-view{
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
.google-logo{
    margin-top: 30px;
    justify-content: center;
}
.profile-pic{
    width: 25px;
    height: 25px;
    display: flex;
}
.menu-icon{
    width: 25px;
    height:25px;
    display: flex;
}
.lab-icon{
    width:25px;
    height:25px;
    display: flex;
}
p{
    display: flex;
    justify-content: center;
    color: black;
}
p span{
    color: blue;
}
.btnstyle{
    margin: 11px 4px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.btnstyle button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    padding: 0 16px;
}
.search{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search textarea{
    border-radius: 25px;
    width: 35rem;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 72px;
    border: 1px solid rgb(212, 207, 207);
    margin-top: 24px;
    font-size: 18px;
    min-height: 10px;
    resize: none;
    overflow: hidden;
}
/*.search textarea:focus{
    height: auto;
    min-height: 40px;
    max-height: 200px;
    overflow-y: auto;
}*/
.mic-icon{
    width: 32px;
    height: 20px;
}
.lens-icon{
    width: 25px;
    height: 20px;
}
.search-icons{
    display: flex;
    gap: 4px;
    position: absolute;
    right: 8px;
    top: 33%;
    transform: translateY(-50%);
}
